<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Deku</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div class="jumbotron">
      <h1>Deku Deku</h1>
  </div>

<!--begin navbar-->
  <div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="#">Deku Wiki</a>
  <ul class="nav navbar-nav">
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Hya!<span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="/history'">History of da dekus</a></li>
      <li><a href="#">Appearances in LoZ</a></li>
      <li><a href="#">Link Versions</a></li>
      <li class="divider"></li>
      <li><a href="#">The Great Deku Tree</a></li>
      <li><a href="#">Meet the Creators</a></li>
     </ul>
   </li>
   <li><a href="/history">History of da dekus</a></li>
   <li><a href="/LoZ">Appearances in LoZ</a></li>
   <li><a href="LinkDeku">Link Versions</a></li>
   <li><a href="dekutree">The Great Deku Tree</a></li>
  </ul>
</div>

  </body>
</html>
